.all{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.proj{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: #f9004d;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 615px;
}
.perso{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.pra {
    color: #f9004d;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}